#editProfileform{
    width: 780px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
#update-profile{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 154px;
    height: 32px;
    background: #D4D4D400 0% 0% no-repeat padding-box;
    border: 1px solid #1B1B1B;
    border-radius: 4px;
}
.btn-text{
    text-align: center;
    font: normal normal normal 12px/14px Hiragino Kaku Gothic Pro;
    color: #1D1D1D;
}
.go-back-a{
    width: 36px;
    height: 12px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 80px;
    text-decoration: underline;
    font: normal normal normal 12px/14px Arial;
    letter-spacing: 0px;
    color: #1D1D1D;
}

.info{
    width: 360px;
    height: 59px;
    margin-bottom: 15px;
}
label{
    width: 240px;
    height: 12px;
    text-align: left;
    font: normal normal normal 12px/88px Arial;
    letter-spacing: 0.24px;
    color: #555555;
    
}
.info input{
    width: 360px;
    height: 36px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #FAFAFA;
    border-radius: 4px;
    padding: 8px;
    margin-top: 5px;
}
.inputText, input[type=email], input[type=password]{
    width: 100%;
    text-align: left;
    font: normal normal normal 12px/88px Helvetica;
    letter-spacing: 0.24px;
    color: #111111;
}
.area-thumbnail{
    width: 330px;
    height: 132px;
    margin-left: 60px;
    margin-bottom: 5px;
}
.image-container{
    width: 100px;
    height: 100px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #FAFAFA;
    border-radius: 4px;
}

input[type=file]{
    display: none;
}
.input-file{
    width: 179px;
    height: 32px;
    left: 47px;
    margin-top: auto;
    margin-bottom: auto;
    background: #D4D4D400 0% 0% no-repeat padding-box;
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    opacity: 1;
    position: relative;
}
.input-file-text{
    position: absolute;
    display: block;
    margin-left: 22px;
    margin-top: 9px;
    width: 132px;
    font: normal normal normal 12px/14px Hiragino Kaku Gothic Pro;
    letter-spacing: 0px;
    color: #AAAAAA;
    opacity: 1;
}

.area-intro{
    width: 360px;
    height: 152px;
    margin-left: 60px;
    margin-top: -6px;
}
.area-intro textarea{
    width: 336px;
    height: 102px;
    text-align: left;
    font: normal normal normal 12px/18px Helvetica;
    letter-spacing: 0.24px;
    color: #111111;
    background: #FAFAFA;
    border: 1px solid #FAFAFA;
    padding: 8px;
}
.area-intro2{
    width: 360px;
    height: 103px;
    margin-left: 60px;
}
.area-intro2 textarea{
    width: 360px;
    height: 80px;
    background: #FAFAFA;
    border-radius: 4px;
    border: 1px solid #FAFAFA;
    padding: 8px;
}
.area-intro2 textarea::placeholder{
    width: 116px;
    height: 12px;
    text-align: left;
    font: normal normal normal 12px/18px Hiragino Sans;
    letter-spacing: 0.24px;
    color: #41B3CB;
}
.mobile-version{
    display: none;
}
.p{
    display: none;
}

.glyphicon{
    display: none;
   
}
.g-text{
    display: none;
}


@media screen and (max-width: 640px){
    body{
        background: #F3F3F3 0% 0% no-repeat padding-box;
    }
    .mobile-version-upper-nav{
        display: block;
        width: 100%;
        height: 80px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
    }
    .p{
        display: block;
        margin: auto;
        width: 40%;
        text-align: center;
        font: normal normal normal 20px/88px Hiragino Kaku Gothic Pro;
        letter-spacing: 0px;
        color: #7B7B7B;
    }

    .glyphicon{
        display: block;
        margin-top: -60px;
        margin-bottom: auto;
        width: 7%;
        font-size: 28px;
        color: #AAAAAA;
        /* margin-left: 30px; */
    }
    .g-text{
        display: block;
        width: 20%;
        height: 4%;
        margin-top: -88px;
        text-align: left; 
        font: normal normal normal 24px/88px Hiragino Kaku Gothic Pro;
        letter-spacing: 0px;
        color: #AAAAAA;
    }
    #editProfileform{
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    
    }
    .something{
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    label{
        width: 98%;
        text-align: left;
        font: normal normal normal 14px/38px Arial;
        letter-spacing: 0.24px;
        color: #555555;
    }
    .info{
        width: 100%;
        height: 16%;
        margin-bottom: 15px;
    }

    .info input{
        width: 100%;
        height: 46px;
        background: #FAFAFA 0% 0% no-repeat padding-box;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        padding: 8px;
        margin-top: 5px;
    }

    .inputText, input[type=email], input[type=password]{
        width: 100%;
        text-align: left;
        font: normal normal normal 18px/38px Helvetica;
        letter-spacing: 0.24px;
        color: #111111;
    }

    .area-thumbnail{
        width: 100%;
        height: 21%;
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .image-container{
        width: 100px;
        height: 100px;
        background: #FAFAFA 0% 0% no-repeat padding-box;
        border: 1px solid #FAFAFA;
        border-radius: 4px;
    }
    .input-file{
        width: 60%;
        height: 46px;
        left: 30px;
        margin-top: auto;
        margin-bottom: auto;
        background: #D4D4D400 0% 0% no-repeat padding-box;
        border: 1px solid #AAAAAA;
        border-radius: 4px;
    }
    .input-file-text{
        display: block;
        left: 15%;
        top: 15%;
        font: normal normal normal 12px/14px Hiragino Kaku Gothic Pro;
        letter-spacing: 0px;
        color: #AAAAAA;
        
    }

    .area-intro{
        width: 100%;
        height: 61%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    
    .area-intro textarea{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 400px;
        text-align: left;
        font: normal normal normal 12px/18px Helvetica;
        letter-spacing: 0.24px;
        color: #111111;
        background: #FAFAFA;
        border: 1px solid #E1E1E1;
        padding: 8px;
        margin-top: 5px;
    }
    

    .area-intro2{
        width: 100%;
        height: 39%;
        margin-left: auto;
        margin-right: auto;
    }
    .area-intro2 textarea{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 240px;
        background: #FAFAFA;
        border-radius: 4px;
        border: 1px solid #E1E1E1;
        padding: 8px;
        margin-top: 5px;
    }
    .area-intro2 textarea::placeholder{
        width: 100%;
        height: 4%;
        text-align: left;
        font: normal normal normal 18px/38px Hiragino Sans;
        letter-spacing: 0.24px;
        color: #41B3CB;
    }
    #update-profile{
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        width: 100%;
        height: 46px;
        background: #D4D4D400 0% 0% no-repeat padding-box;
        border: 1px solid #1B1B1B;
        border-radius: 12px;
    }
    .btn-text{

        text-align: center;
        font: normal normal normal 16px/38px Hiragino Kaku Gothic Pro;
        color: #1D1D1D;
    }
    .go-back-a{
        width: 98%;
        height: 12px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 80px;
        text-decoration: underline;
        font: normal normal normal 12px/14px Arial;
        letter-spacing: 0px;
        color: #1D1D1D;
    
    }
}
