{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/lesson-reservation.css' %}">
    <title>Edit Lesson</title>
</head>

<body >
    {% include "navbar.html" %}
    <!-- COUNTDOWN AND RATING MODAL  -->
    <div class="modal" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{MEDIA_URL}}/media/Outline.svg" class="img-modal">
                    <p class="modal-text">レッスン開始まで1分前です</p>
                    <p class="modal-timer" id="timer"></p>
                    <button type="button" class="modal-btn" id="modal-btn"><a href="{% url 'chat' %}" cladd="modal-btn">
                            <span class="text-modal-btn">レッスンを開始 </span></a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="rating" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{MEDIA_URL}}/media/942191.svg" class="img-modal">
                    <p class="modal-text">レッスン開始が終了しました 今回のレッスンはいかがでしたか？</p>
                    <div class="rating-container">
                        <form class="rating" method="POST" action="{% url 'rate' %}">
                            {% csrf_token %}
                            <input class="h" id="lessonidd" name="lesson_id"></input>
                            <label>
                                <input type="submit" name="1" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="submit" name="2" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="submit" name="3" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="submit" name="4" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="submit" name="5" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                        </form>
                    </div>
                    <a href="#" class="close" data-dismiss="modal">閉じる</a>
                </div>
            </div>
        </div>
    </div>

    
    <div class="mobile-version-upper-nav">
        <img src="{{MEDIA_URL}}/media/logo_mobile.png">
    </div>

    <div class="whole-body">
        <div class="title-box">
            <p class="regititle">レッスンを編集する
                <!--edit lesson-->
            </p>
        </div>
        <form class="bg-card" action="{% url 'edit_lesson_reservation' lesson_id %}" method="POST">
            {% csrf_token %}
            <div class="row cont">
                <div class="info1">
                    <div class="info-mobile">
                        <h3>Step 1</h3>
                        <div class="step-title-box">
                            <div class="title-bar"></div>
                            <p class="step-title">レッスンタイトル
                                <!-- lesson title-->
                            </p>
                        </div>
                        <p class="s-title">*キャリアについて
                            <!-- about career-->
                        </p>
                    </div>

                    <input type="text" id="job-name" name="lesson-title" value="キャリア面談" required>
                </div>

                <!-- <div class="sepLine mt-1"></div> -->

                <div class="info2">
                    <div class="info-mobile">
                        <h3 class="h3-mobile">Step 2</h3>
                        <div class="step-title-box">
                            <div class="title-bar"></div>
                            <p class="step-title">日程</p>
                        </div>
                        <p class="s-title s-mobile">レッスンの曜日
                            <!--Day of the week-->
                        </p>
                    </div>
                    <div class="d-flex flex-row">
                        <input type="text" id="picker" name="date" required>
                        <i class='fas fa-calendar-alt' id="pickericon"></i>
                    </div>
                </div>

                <!-- <div class="sepLine mt-1"></div> -->

                <div class="info3">
                    <div class="info-mobile">
                        <h3 class="h33-mobile">Step 3</h3>
                        <div class="step-title-box">
                            <div class="title-bar"></div>
                            <p class="step-title">開始時間
                                <!--time to start-->
                            </p>
                        </div>
                        <p class="s-title s-mobile">はじまる時間
                            <!--time to start wrong with translation-->
                        </p>
                    </div>

                    <div class="row">
                        <select class="custom-select1" name="start-hour" required>
                            <option selected>時</option>
                            <option value="0">0時</option>
                            <option value="1">1時</option>
                            <option value="2">2時</option>
                            <option value="3">3時</option>
                            <option value="4">4時</option>
                            <option value="5">5時</option>
                            <option value="6">6時</option>
                            <option value="7">7時</option>
                            <option value="8">8時</option>
                            <option value="9">9時</option>
                            <option value="10">10時</option>
                            <option value="11">11時</option>
                            <option value="12">12時</option>
                            <option value="13">13時</option>
                            <option value="14">14時</option>
                            <option value="15">15時</option>
                            <option value="16">16時</option>
                            <option value="17">17時</option>
                            <option value="18">18時</option>
                            <option value="19">19時</option>
                            <option value="20">20時</option>
                            <option value="21">21時</option>
                            <option value="22">22時</option>
                            <option value="23">23時</option>

                        </select>
                        <select class="custom-select2" name="start-min">
                            <option value="00" selected>00分</option>
                            <option value="15">15分</option>
                            <option value="30">30分</option>
                            <option value="45">45分</option>
                        </select>
                    </div>
                </div>

                <!-- <div class="sepLine mt-1"></div> -->

                <div class="info4">
                    <div class="info-mobile">
                        <h3 class="h33-mobile">Step 4</h3>
                        <div class="step-title-box">
                            <div class="title-bar"></div>
                            <p class="step-title">終了時間
                                <!--ending time-->
                            </p>
                        </div>
                        <p class="s-title s-mobile">終わる時間
                            <!--time to finish-->
                        </p>
                    </div>
                    <div class="row">
                        <select class="custom-select1" name="end-hour" required>
                            <option selected>時</option>
                            <option value="0">0時</option>
                            <option value="1">1時</option>
                            <option value="2">2時</option>
                            <option value="3">3時</option>
                            <option value="4">4時</option>
                            <option value="5">5時</option>
                            <option value="6">6時</option>
                            <option value="7">7時</option>
                            <option value="8">8時</option>
                            <option value="9">9時</option>
                            <option value="10">10時</option>
                            <option value="11">11時</option>
                            <option value="12">12時</option>
                            <option value="13">13時</option>
                            <option value="14">14時</option>
                            <option value="15">15時</option>
                            <option value="16">16時</option>
                            <option value="17">17時</option>
                            <option value="18">18時</option>
                            <option value="19">19時</option>
                            <option value="20">20時</option>
                            <option value="21">21時</option>
                            <option value="22">22時</option>
                            <option value="23">23時</option>

                        </select>
                        <select class="custom-select2" name="end-min">
                            <option value="00" selected>00分</option>
                            <option value="15">15分</option>
                            <option value="30">30分</option>
                            <option value="45">45分</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" id="create-lesson"><span class="create-less0n-text">レッスンを作成する</span></button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    <script>
        $("#picker").datetimepicker({
            timepicker: false,
            datepicker: true,
            format: 'Y-m-d',
            weeks: true
        });

        var startsession = document.getElementById("modal-btn");

        var ti = document.getElementsByClassName("timelesson");
        var lessonhour;
        var lessonMinute;
        var lhourparse;
        var lminuteparse;


        var lessonhour1;
        var lessonMinute1;
        var lhourparse1;
        var lminuteparse1;
        var NEXTlessonhour;
        var NEXTlessonMinute;
        var NEXTlhourparse;
        var NEXTlminuteparse;
        var idd;
        var idparse
        var lsidd = document.getElementById("lessonidd");
        for (var i = 0; i < ti.length - 1; i++) {
            lessonhour1 = ti[i].innerHTML.slice(13, 16);
            lessonMinute1 = ti[i].innerHTML.slice(17, 20);


            lhourparse1 = parseInt(lessonhour1, 10);
            lminuteparse1 = parseInt(lessonMinute1, 10);


            var NEXTlessonhour = ti[i + 1].innerHTML.slice(13, 16);
            var NEXTlessonMinute = ti[i + 1].innerHTML.slice(17, 20);
            var NEXTlhourparse = parseInt(NEXTlessonhour, 10);
            var NEXTlminuteparse = parseInt(NEXTlessonMinute, 10);

            var lastless = ti[ti.length - 1].innerHTML.slice(13, 16);
            var lstparse = parseInt(lastless, 10);


            idd = ti[i].innerHTML.slice(20, 30);
            var idparse = parseInt(idd, 10);

            var today = new Date();
            var hour = today.getHours();
            var minute = today.getMinutes();

            if ((hour > lhourparse1 + 1 && hour < NEXTlhourparse) || hour > lstparse + 1) {
                lsidd.innerHTML = idparse;
            }
            else {
                idd.innerHTML = "";
            }


        }

        //cuntdown modal
        var beforestartsession = setInterval(function () {

            for (var i = 0; i < ti.length; i++) {
                // console.log(ti[i])
                lessonhour = ti[i].innerHTML.slice(13, 16);
                lessonMinute = ti[i].innerHTML.slice(17, 20);
                lhourparse = parseInt(lessonhour, 10);
                lminuteparse = parseInt(lessonMinute, 10);
                // console.log(lminuteparse);

                var h = lhourparse;
                var m = lminuteparse;

                //current time
                var today = new Date();
                var hour = today.getHours();

                // console.log(hour);
                var minute = today.getMinutes();
                var seconds = today.getSeconds();

                if(hour < h+1 || ( hour = h+1 && minute < m)){
                    document.getElementById("chaticon").href = "{% url 'chat' %}";
                    document.getElementById("chaticon1").href = "{% url 'chat' %}";
                    document.getElementById("chaticon2").href = "{% url 'chat' %}";
                    console.log(h);
                }
                else if(hour == h && minute == m){
                    document.getElementById("chaticon").href = "{% url 'chat' %}";
                    document.getElementById("chaticon1").href = "{% url 'chat' %}";
                    document.getElementById("chatico2").href = "{% url 'chat' %}";
                }
                else{
                    document.getElementById("chaticon").href = "";
                    document.getElementById("chaticon1").href = "";
                    document.getElementById("chaticon2").href = "";
                }

                if (hour == h && minute == m) {
                    $("#myModal").modal("show");
                    startsession.disabled = true;
                    clearInterval(beforestartsession);
                    if (seconds > 0) {
                        var sec = 60 - seconds;
                        countdown(sec);
                    }
                    else if (seconds == 0) {
                        countdown(60);
                    }

                }
            }
            startsession.disabled = false;

        }, 1000);

        //rating modal
        var ratingmodal = setInterval(function () {
            //ending time lesson
            for (var i = 0; i < ti.length; i++) {
                lessonhour = ti[i].innerHTML.slice(13, 16);
                lessonMinute = ti[i].innerHTML.slice(17, 20);
                lhourparse = parseInt(lessonhour, 10);
                lminuteparse = parseInt(lessonMinute, 10);


                var h = lhourparse + 1;
                var min = lminuteparse;
                var today = new Date();
                var hour = today.getHours();
                var minute = today.getMinutes();
                if (h == hour && min == minute) {
                    document.getElementById("chaticon").href = "";
                    $('#rating').modal('show');
                    $('#myModal').modal('hide');

                }
            }
        }, 1000);


        function countdown(sec) {
            var timer = document.getElementById("timer");
            var counter = 0;
            var timeleft = sec;
            var time = convertSeconds(timeleft - counter);
            timer.innerHTML = convertSeconds(timeleft - counter);
            var internal = setInterval(function () {
                counter++;
                timer.innerHTML = convertSeconds(timeleft - counter);
                if (counter === timeleft) {
                    clearInterval(internal);
                }
            }, 1000);
        }

        function convertSeconds(s) {
            var min = Math.floor(s / 60);
            var sec = s % 60;
            var minformat;
            var secformat;
            if (min < 10) {
                minformat = ("0" + min).slice(-2);
            }
            else {
                minformat = min;
            }
            if (sec < 10) {
                secformat = ("0" + sec).slice(-2);
            }
            else {
                secformat = sec;
            }
            return minformat + ":" + secformat;
        }

        console.log(document.getElementById("lessonidd").innerHTML);

    </script>
</body>

</html>