{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit-profile.css' %}">
    <title>Edit My Page</title>
</head>

<body>
    {% include "navbar.html" %}
    <!-- COUNTDOWN AND RATING MODAL  -->
    <div class="modal" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{MEDIA_URL}}/media/Outline.svg" class="img-modal">
                    <p class="modal-text">レッスン開始まで1分前です</p>
                    <p class="modal-timer" id="timer"></p>
                    <button type="button" class="modal-btn" id="modal-btn"><a href="{% url 'chat' %}" cladd="modal-btn">
                            <span class="text-modal-btn">レッスンを開始 </span></a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="rating" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{{MEDIA_URL}}/media/942191.svg" class="img-modal">
                    <p class="modal-text">レッスン開始が終了しました 今回のレッスンはいかがでしたか？</p>
                    <div class="rating-container">
                        <form class="rating" method="POST" action="{% url 'rate' %}">
                            {% csrf_token %}
                            <input class="h" id="lessonidd" name="lesson_id"></input>
                            <label>
                                <input type="submit" name="1" value="1" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="submit" name="2" value="2" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="submit" name="3" value="3" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="submit" name="4" value="4" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="submit" name="5" value="5" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                        </form>
                    </div>
                    <a href="#" class="close" data-dismiss="modal">閉じる</a>
                </div>
            </div>
        </div>
    </div>


    
    <div class="mobile-version-upper-nav">
        <p class="p">マイページ編集</p>
        <div class="d-flex flex-row">
            <p class=><span class="glyphicon glyphicon-menu-left"></span></p>
            <p class="g-text">もどる</p>
        </div>

    </div>

    <form class="needs-validation container" id="editProfileform" method="POST"
        action="{% url 'edit_profile' user.Id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="column">
            <div class="d-flex flex-row something">
                <div>
                    <div class="info">
                        <label>
                            名前
                            <!--Name-->
                        </label>
                        <input type="text" class="inputText" id="Name" name="name" value="{{user.name}}">
                    </div>
                    <div class="info">
                        <label>
                            メールアドレス
                            <!--E-mail Address-->
                        </label>
                        <input type="email" id="email" name="email" value="{{user.email}}">
                    </div>
                    <div class="info">
                        <label>
                            パスワード
                            <!--Password-->
                        </label>
                        <input type="password" id="inputpassword" name="inputpassword" required>
                    </div>
                    <div class="info">
                        <label>
                            職業
                            <!--profession-->
                        </label>
                        <input type="text" class="inputText" id="profession" name="profession" value="{{user.field}}">
                    </div>

                    <div class="info">
                        <label>
                            キャッチフレーズ
                            <!--catch phrase-->
                        </label>
                        <input type="text" class="inputText" id="catchPhrase" name="catch_phrase"
                            value="{{user.catch_phrase}}">
                    </div>
                </div>

                <div class="column">
                    <div class="area-thumbnail">
                        <label>プロフィールの写真
                            <!--profile picture-->
                        </label>
                        <div class="d-flex flex-row mt-2">
                            <div class="image-container" id="image-container">
                                <img src="{{MEDIA_URL}}/media/{{user.img}}" class="personal_image w-100 h-100">
                            </div>
                            <label class="input-file">
                                <input type="file" name="imgFile" id="inpFile">
                                <p class="input-file-text">画像をアップロードする</p>
                            </label>
                        </div>
                    </div>

                    <div class="area-intro">
                        <label>自己紹介
                            <!--self introduction--></label>
                        <textarea name="self-introduction">{{user.intro_msg}}</textarea>
                    </div>

                    <div class="area-intro2">
                        <label>相談できるもの（＃を入力してください）</label>
                        <textarea name="what_you_can_ask_for">{{user.what_you_can_ask_for}}</textarea>
                    </div>
                    <div class="area-intro2">
                        <label>PayPalアカウント</label>
                        <textarea name="paypal_account">{{user.paypal_account}}</textarea>
                    </div>
                </div>

            </div>
            <div class="d-flex flex-column">
                <button type="submit" id="update-profile"><span class="btn-text">更新する</span>
                    <!--update--></button>
                <a href="{% url 'profile' user.Id %}" class="go-back-a">戻る
                    <!--return--></a>
            </div>
        </div>
    </form>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>


        const inpFile = document.getElementById('inpFile');
        const previewContainer = document.getElementById('image-container');
        const personalImage = previewContainer.querySelector('.personal_image')


        inpFile.addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();

                personalImage.style.display = "block";

                reader.addEventListener('load', function () {
                    personalImage.setAttribute("src", this.result);
                });
                reader.readAsDataURL(file);
            }
        })

        var startsession = document.getElementById("modal-btn");

        var ti = document.getElementsByClassName("timelesson");
        var lessonhour;
        var lessonMinute;
        var lhourparse;
        var lminuteparse;


        var lessonhour1;
        var lessonMinute1;
        var lhourparse1;
        var lminuteparse1;
        var NEXTlessonhour;
        var NEXTlessonMinute;
        var NEXTlhourparse;
        var NEXTlminuteparse;
        var idd;
        var idparse
        var lsidd = document.getElementById("lessonidd");
        for (var i = 0; i < ti.length - 1; i++) {
            lessonhour1 = ti[i].innerHTML.slice(13, 16);
            lessonMinute1 = ti[i].innerHTML.slice(17, 20);


            lhourparse1 = parseInt(lessonhour1, 10);
            lminuteparse1 = parseInt(lessonMinute1, 10);


            var NEXTlessonhour = ti[i + 1].innerHTML.slice(13, 16);
            var NEXTlessonMinute = ti[i + 1].innerHTML.slice(17, 20);
            var NEXTlhourparse = parseInt(NEXTlessonhour, 10);
            var NEXTlminuteparse = parseInt(NEXTlessonMinute, 10);

            var lastless = ti[ti.length - 1].innerHTML.slice(13, 16);
            var lstparse = parseInt(lastless, 10);


            idd = ti[i].innerHTML.slice(20, 30);
            var idparse = parseInt(idd, 10);

            var today = new Date();
            var hour = today.getHours();
            var minute = today.getMinutes();

            if ((hour > lhourparse1 + 1 && hour < NEXTlhourparse) || hour > lstparse + 1) {
                lsidd.innerHTML = idparse;
            }
            else {
                idd.innerHTML = "";
            }


        }

        //cuntdown modal
        var beforestartsession = setInterval(function () {

            for (var i = 0; i < ti.length; i++) {
                // console.log(ti[i])
                lessonhour = ti[i].innerHTML.slice(13, 16);
                lessonMinute = ti[i].innerHTML.slice(17, 20);
                lhourparse = parseInt(lessonhour, 10);
                lminuteparse = parseInt(lessonMinute, 10);
                // console.log(lminuteparse);

                var h = lhourparse;
                var m = lminuteparse;

                //current time
                var today = new Date();
                var hour = today.getHours();
                // console.log(hour);
                var minute = today.getMinutes();
                var seconds = today.getSeconds();
                if(hour < h+1 || ( hour = h+1 && minute < m)){
                    document.getElementById("chaticon").href = "{% url 'chat' %}";
                    document.getElementById("chaticon1").href = "{% url 'chat' %}";
                    document.getElementById("chaticon2").href = "{% url 'chat' %}";
                    console.log(h);
                }
                else if(hour == h && minute == m){
                    document.getElementById("chaticon").href = "{% url 'chat' %}";
                    document.getElementById("chaticon1").href = "{% url 'chat' %}";
                    document.getElementById("chatico2").href = "{% url 'chat' %}";
                }
                else{
                    document.getElementById("chaticon").href = "";
                    document.getElementById("chaticon1").href = "";
                    document.getElementById("chaticon2").href = "";
                }

                if (hour == h && minute == m) {
                    $("#myModal").modal("show");
                    startsession.disabled = true;
                    clearInterval(beforestartsession);
                    if (seconds > 0) {
                        var sec = 60 - seconds;
                        countdown(sec);
                    }
                    else if (seconds == 0) {
                        countdown(60);
                    }

                }
            }
            startsession.disabled = false;

        }, 1000);

        //rating modal
        var ratingmodal = setInterval(function () {
            //ending time lesson
            for (var i = 0; i < ti.length; i++) {
                lessonhour = ti[i].innerHTML.slice(13, 16);
                lessonMinute = ti[i].innerHTML.slice(17, 20);
                lhourparse = parseInt(lessonhour, 10);
                lminuteparse = parseInt(lessonMinute, 10);


                var h = lhourparse + 1;
                var min = lminuteparse;
                var today = new Date();
                var hour = today.getHours();
                var minute = today.getMinutes();
                if (h == hour && min == minute) {
                    document.getElementById("chaticon").href = "";
                    $('#rating').modal('show');
                    $('#myModal').modal('hide');

                }
            }
        }, 1000);


        function countdown(sec) {
            var timer = document.getElementById("timer");
            var counter = 0;
            var timeleft = sec;
            var time = convertSeconds(timeleft - counter);
            timer.innerHTML = convertSeconds(timeleft - counter);
            var internal = setInterval(function () {
                counter++;
                timer.innerHTML = convertSeconds(timeleft - counter);
                if (counter === timeleft) {
                    clearInterval(internal);
                }
            }, 1000);
        }

        function convertSeconds(s) {
            var min = Math.floor(s / 60);
            var sec = s % 60;
            var minformat;
            var secformat;
            if (min < 10) {
                minformat = ("0" + min).slice(-2);
            }
            else {
                minformat = min;
            }
            if (sec < 10) {
                secformat = ("0" + sec).slice(-2);
            }
            else {
                secformat = sec;
            }
            return minformat + ":" + secformat;
        }

        console.log(document.getElementById("lessonidd").innerHTML);
    </script>
</body>

</html>