{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>History Lessons</title>
</head>

<body>
    {% include "navbar.html" %}


    <div class="ml-5 w-75" style="min-width: 1000px; max-width: 1000px">
        <div class="nav-bred">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'lesson_reservation' %}">予定レッスン</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'reserved_lessons' %}">予約済み</a></li>
                <li class="breadcrumb-item active" aria-current="page">歴史</li>
            </ol>
        </div>

        <div class="row justify-content-between ml-1" style="min-width: 1000px; max-width: 1000px; margin-top: -20px;">
        {% if lessons %}
            {% for lesson in lessons %}
            <div class="bg-white lessonCard mt-3" style="width: 480px;">
                <div class="row ml-2 mt-3">
                    <img src="{{MEDIA_URL}}/media/{{lesson.instructor.img}}" class="img-card-lessRes rounded-circle">
                    <div class="ml-3 mt-2">
                        <div class="d-flex flex-row">
                            <div class="orgLine bg-warning"></div>
                            <p class="font-weight-bolder ml-1 mt-2">{{lesson.title}}
                                <!--about career-->
                            </p>
                        </div>
                        <p class="font-weight-bolder">{{lesson.date_to_display}} {{lesson.starting}} ~ {{lesson.ending}}
                        </p>
                        <div class="d-flex flex-row">
                            <p>評価</p>
                            <div class="" style="color: #D1D3D4;">
                                {% if lesson.rating >= 5  %}
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked"></span>
                                {% elif lesson.rating >= 4 %}
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star"></span>
                                {% elif lesson.rating >= 3 %}
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                {% elif lesson.rating >= 2 %}
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                {% elif lesson.rating >= 1 %}
                                <span class="fa fa-star starchecked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                {% else %}
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script>
        var lessonCard = document.getElementsByClassName("lessonCard");
        for (var i = 0; i < lessonCard.length; i++) {
            lessonCard[i].addEventListener('click', function () {
                window.location.href = "{% url 'lesson_details' %}";
            })
        }
        var startsession = document.getElementById("modal-btn");

        var ti = document.getElementsByClassName("timelesson");
        var lessonhour;
        var lessonMinute;
        var lhourparse;
        var lminuteparse;


        var lessonhour1;
        var lessonMinute1;
        var lhourparse1;
        var lminuteparse1;
        var NEXTlessonhour;
        var NEXTlessonMinute;
        var NEXTlhourparse;
        var NEXTlminuteparse;
        var idd;
        var idparse
        var lsidd = document.getElementById("lessonidd");
        for (var i = 0; i < ti.length - 1; i++) {
            lessonhour1 = ti[i].innerHTML.slice(13, 16);
            lessonMinute1 = ti[i].innerHTML.slice(17, 20);


            lhourparse1 = parseInt(lessonhour1, 10);
            lminuteparse1 = parseInt(lessonMinute1, 10);


            var NEXTlessonhour = ti[i + 1].innerHTML.slice(13, 16);
            var NEXTlessonMinute = ti[i + 1].innerHTML.slice(17, 20);
            var NEXTlhourparse = parseInt(NEXTlessonhour, 10);
            var NEXTlminuteparse = parseInt(NEXTlessonMinute, 10);

            var lastless = ti[ti.length - 1].innerHTML.slice(13, 16);
            var lstparse = parseInt(lastless, 10);


            idd = ti[i].innerHTML.slice(20, 30);
            var idparse = parseInt(idd, 10);

            var today = new Date();
            var hour = today.getHours();
            var minute = today.getMinutes();

            if ((hour > lhourparse1 + 1 && hour < NEXTlhourparse) || hour > lstparse + 1) {
                lsidd.innerHTML = idparse;
            }
            else {
                idd.innerHTML = "";
            }


        }

        //cuntdown modal
        var beforestartsession = setInterval(function () {

            for (var i = 0; i < ti.length; i++) {
                // console.log(ti[i])
                lessonhour = ti[i].innerHTML.slice(13, 16);
                lessonMinute = ti[i].innerHTML.slice(17, 20);
                lhourparse = parseInt(lessonhour, 10);
                lminuteparse = parseInt(lessonMinute, 10);
                // console.log(lminuteparse);

                var h = lhourparse;
                var m = lminuteparse;

                //current time
                var today = new Date();
                var hour = today.getHours();
                // console.log(hour);
                var minute = today.getMinutes();
                var seconds = today.getSeconds();
                if(hour < h+1 || ( hour = h+1 && minute < m)){
                    document.getElementById("chaticon").href = "{% url 'chat' %}";
                    console.log(h);
                }
                else if(hour == h && minute == m){
                    document.getElementById("chaticon").href = "{% url 'chat' %}";
                }
                else{
                    document.getElementById("chaticon").href = "";
                }
                if (hour == h && minute == m) {
                    $("#myModal").modal("show");
                    document.getElementById("chaticon").href = "{% url 'chat' %}";
                    startsession.disabled = true;
                    clearInterval(beforestartsession);
                    if (seconds > 0) {
                        var sec = 60 - seconds;
                        countdown(sec);
                    }
                    else if (seconds == 0) {
                        countdown(60);
                    }

                }
            }
            startsession.disabled = false;

        }, 1000);

        //rating modal
        var ratingmodal = setInterval(function () {
            //ending time lesson
            for (var i = 0; i < ti.length; i++) {
                lessonhour = ti[i].innerHTML.slice(13, 16);
                lessonMinute = ti[i].innerHTML.slice(17, 20);
                lhourparse = parseInt(lessonhour, 10);
                lminuteparse = parseInt(lessonMinute, 10);


                var h = lhourparse + 1;
                var min = lminuteparse;
                var today = new Date();
                var hour = today.getHours();
                var minute = today.getMinutes();
                if (h == hour && min == minute) {
                    document.getElementById("chaticon").href = "";
                    $('#rating').modal('show');
                    $('#myModal').modal('hide');

                }
            }
        }, 1000);


        function countdown(sec) {
            var timer = document.getElementById("timer");
            var counter = 0;
            var timeleft = sec;
            var time = convertSeconds(timeleft - counter);
            timer.innerHTML = convertSeconds(timeleft - counter);
            var internal = setInterval(function () {
                counter++;
                timer.innerHTML = convertSeconds(timeleft - counter);
                if (counter === timeleft) {
                    clearInterval(internal);
                }
            }, 1000);
        }

        function convertSeconds(s) {
            var min = Math.floor(s / 60);
            var sec = s % 60;
            var minformat;
            var secformat;
            if (min < 10) {
                minformat = ("0" + min).slice(-2);
            }
            else {
                minformat = min;
            }
            if (sec < 10) {
                secformat = ("0" + sec).slice(-2);
            }
            else {
                secformat = sec;
            }
            return minformat + ":" + secformat;
        }

        console.log(document.getElementById("lessonidd").innerHTML);
    </script>
</body>

</html>