{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/reset-password.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <nav class="row web-version">
        <img src="{{ MEDIA_URL }}/media/logo_mobile.png" class="logo">
        <p class="mt-2">パスワードをお忘れの方</p>
    </nav>

    <div class="mobile-version">
        <p class="p">パスワードをお忘れの方</p>

    </div>

    <form action="{% url 'resetPass' %}" method="POST">
        {% csrf_token %}
        <div class="whole-body">
            <p>
                パスワードをお忘れの方
            </p>
            <p class="mt-5">
                ご登録されたメールアドレスに、<br>
                 パスワードを再設定するご案内を送ります。
            </p>
            {% if messages %}<ul class="messages">
                {% for message in messages %}
                <b> <li style="color: red;"  {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>  </b>
                {% endfor %}</ul>
            {% endif %} 
            <div class="d-flex flex-column w-25 con mt-5">
                <label>
                    メールアドレス
                </label>
                <input type="email" name="email" id="email" placeholder="入力してください">
            </div>

            <button type="submit" class="mt-5">送信する</button>
            
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="validation.js">

    </script>   
</body>

</html>