{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
    <title>Sign-up</title>
</head>

<body>
    <nav class="row web-version">
        <img src="{{ MEDIA_URL }}/media/logo_mobile.png" class="logo">
        <p class="mt-2">新規会員登録</p>
    </nav>

    <!-- fro mobile version -->
    <div class="mobile-version">
        <p class="p">新規会員登録</p>
        <div class="d-flex flex-row">
            <p class=><span class="glyphicon glyphicon-menu-left"></span></p>
            <p class="g-text">もどる</p>
        </div>

    </div>

    <div class="contaner">
        <div class="row area-subheader justify-content-between">
            <div class="stepOff">
                <p class="tstep">Step1</p>
            </div>
            <i class="fa fa-caret-right"></i>
            <div class="stepOff">
                <p class="tstep"> Step2 </p>
            </div>
            <i class="fa fa-caret-right"></i>
            <div class="stepOn">
                <p class="tstep"> Step3 </p>
            </div>
        </div>

        <h4 class="h4-thirdstep">利用規約</h4>

        <form id="form3" action="{% url 'signup3' user_id %}" method="POST" class="container">
            {% csrf_token %}

            <div readonly class="text-justify text-center textarea">
                <p class="textareatitle">利用規約</p>
                <p class="text-justify text-center textareatext">
                    本規約は、株式会社アロンジ(以下、「当社」といいます。)が提供する 「ふらっと相談オンライン」(以下、
                    「本サービス」といいます。)をご利用 いただくうえでのご同意事項となります。本サービスを利用される場合には、
                    本規約の内容に同意した上で、ご利用ください。<br><br>

                    <strong>第 1 条(「ふらっと相談オンライン」について)</strong><br>
                    1. 本サービスは、当社の業務提携しているキャリアアドバイザー(以下、 「アドバイザー」といいます。)が、会員のキャリア形成等に関するWE B相談に応じるサービスです。<br>
                    2. 本サービスは、職業紹介サービスとは異なるサービスであり、また、職業 紹介の前提や条件として提供するものではありません。<br><br>

                    <strong>第 2 条(会員登録及び契約の成立)</strong><br>
                    1. 本規約において、「会員」とは、当社が定める手続にしたがって新規会員 登録を行い、当社が当該会員登録を承諾した個人をいいます。<br>
                    2. 前項の新規会員登録と当社の承諾によって、会員と当社との間で本サービ スの利用契約(以下、「本契約」といいます。)が成立するものとしま す。<br>
                    3. 当社は、登録希望者が、以下の各号のいずれかの事由に該当する場合は、 新規会員登録を承諾しない、または、登録を削除することがあり、その理 由について一切開示義務を負いません。<br>
                    1 新規会員登録に際して虚偽の事項を届け出た場合<br>
                    2 過去に本規約に違反したことがある者からの申込である場合<br>
                    3 その他、当社が本サービスの提供が困難であると判断した場合<br>
                    4. 会員は、利用申込時の登録事項に変更があった場合には、当社の定める方<br>
                    法により当該変更事項を遅滞なく当社に通知するものとします。当該通知 の遅滞により、当社からの連絡が到達しなかったとしても、<br>
                    その場合は当 社からの連絡が発信された段階で到達されたとみなしますし、また、会員 に損害その他の不利益が生じた場合でも、当社は一切の責任を負いませ ん。<br><br>

                    <strong>第 3 条(料金および支払方法)</strong><br>
                    会員は、本サービス利用の対価として、「ふらっと相談オンライン」のウェブ サイト(以下、
                    「本ウェブサイト」といいます。)に表示する利用料金を、当 社が指定する決済方法により当社に支払うものとします。<br><br>

                    <strong>第 4 条(ID・パスワード)</strong><br>
                    1. 会員は、、本ウェブサイト上の会員専用ページ(以下、「専用ページ」と いいます。)の利用に必要なアカウントおよびパスワードを作成します。<br>
                    2. 会員は、自身の作成したアカウントおよびパスワードの使用ならびに管理 について、一切の責任を負うとともに、は当該アカウント及びパスワード を第三者に使用させ、
                    または譲渡してはなりません。<br><br>

                    <strong>第 5 条(専用ページ)</strong><br>
                    会員は、専用ページの利用にあたって、自ら、または第三者をして以下の各号 のいずれかに該当する行為を行ってはなりません。<br>
                    1 専用ページを通じて、または専用ページに関連してコンピュータウィルス 等、有害なプログラムを使用、または提供する行為、またはそのおそれの ある行為<br>
                    2 専用ページの一部または全部をリバースエンジニアリング、逆コンパイ ル、または逆アセンブラ、その他専用ページを解析する行為 <br>
                    3 ハードウェアまたはソフトウェアの管理を無効にする等、ハードウェアま たはソフトウェアのメーカーが定める利用規約、ガイドライン、
                    その他の 規程類で定められた使用条件に違反して改造されたデバイスを使って、専 用ページを利用する行為<br>
                    4 その他、当社が不適当であると判断する行為。<br><br>

                    <strong>第 6 条(WEB相談の実施方法)</strong><br>
                    1. 本件サービスには、「ちょこっと相談(15分)」と「しっかり相談(6 0分)」の2つのコースがあり、会員は自身の選択したコース時間の範囲 で、WEB相談を受けられるものとします。<br>
                    2. 会員は、「ちょこっと相談(15分)」を選択した場合は、専用ページに て予約日時を指定し、当該日時にて、当社の指定するアドバイザーとの間 でWEB相談を実施するものとします。<br>
                    3. 会員は、「60分コース」を選択した場合は、専用ページにて自身の希望 するアドバイザーを選択するとともに、予約日時を指定し、
                    当該日時に て、自身の選択したアドバイザーとの間でWEB相談を実施するものとし ます。<br>
                    4. 前2項で一度確定した予約日時は、原則、変更ができません。<br>
                    5. 会員とアドバイザーは、指定された予約日時までに専用ページのチャット ツール等で連絡を取りあい、WEB相談で使用するミーティングツール (Microsoft Teams、Zoom、Google Meet 等ありますが、これに限られませ ん。)を決めるものとします。<br>
                    6. 会員が、前項の事前のやりとりについて応答しない場合、また、WEB相 談の予約時刻を 15 分経過しても事前に決めたミーティングツールに参加し ない場合は、当該WEB相談を欠席したものとみなします。なお、この場 合、実施の補償は行わないものとします。<br>
                    7. 会員が、WEB相談の予約時刻を徒過して参加した場合でも、終了予定時 間どおりに当該WEB相談は終了するものとし、延長はしないものとしま す。<br>
                    8. 会員が、WEB相談の途中で中断を申し出た場合、またはアドバイザーか ら中断の申し出をし、会員が同意した場合には、その時点で当該WEB相 談を終了するものとします。<br>
                    9. 会員側に発生した事情により、WEB相談が中断、遅刻、欠席となった場 合でも、実施の補償は行いません。<br>
                    10.アドバイザーの事情またはWEB相談に使用するミーティングツールや通信 機器の不調によりWEB相談の開始時刻の遅延やキャンセルが生じた場 合、会員は再度、日程調整を行うことができるものとします。
                    <br><br>

                    <strong>第7条(返金)</strong><br>
                    前条2項または 3 項によって確定した予約日時から遡って 24 時間以内に、会 員の都合でWEB相談をキャンセルした場合は(例外的に予約日時を変更した 場合も含む)、料金の返金には応じません。
                    <br><br>

                    <strong>第8条(本サービスの利用上の注意)</strong><br>
                        会員は、本サービスの利用に際し、以下各号の事項について、あらかじめ了承 するものとします。<br>
                        1 本サービスが、会員の希望するキャリアに関する相談事について、アドバ イザーとのコミュニケーションを通じて、会員の自己理解、キャリアの振 り返り、キャリア形成、戦略立案の支援等を行うことを目的としているこ と<br>
                        2 本サービスが、会員の抱える問題の解決などの結果や効果が得られること を保証するものではないこと 3 WEB相談は、アドバイザー個人の経験や視点に基づき行われるものであ って、業界や職種を代表するものではないこと
                    <br><br>

                  <strong>第9条(会員の責任)</strong><br>
                        1. 会員は、本規約に同意し、自らの責任にもとづき本サービスを利用するも のとします。<br>
                        2. 会員は、当社に対し、個人情報を不備・齟齬のないよう正確に提供するも のとします。
                        会員が提供した個人情報が正確でなかった場合等、会員が当 社に対して提供した情報内容に起因して、第三者との間で紛争等が生じた 場合には、会員自身の責任においてこれに対処するものとし、当社に一切 の迷惑をかけないことを保証します。
                        <br><br>

                        <strong>第 10 条(著作権)</strong><br>
                        本ウェブサイトおよび専用ページに掲載されているすべてのコンテンツ(写 真、イラスト等を含む)の著作権は、権利者たる第三者から提供された物を除 いて、当社に帰属します。
                        <br><br>

                        <strong>第 11 条(個人情報の取り扱い)</strong><br>
                        1. 会員の個人情報の取り扱いについては、別途当社が定める「個人情報の取 り扱いについて」に定めるものとし、当社は、これに基づき会員の個人情 報を適切に収集、利用、管理、および保管し、または第三者への提供を行 います。<br>
                        2. 当社は、原則として、以下各号に定める機微な情報(以下、「機微情報」 といいます。)を収集しません。ただし、会員自ら、当社に対して機微情 報を提供した場合は、当社が当該機微情報を取得すること、
                        および、当社 が会員に対する適切な本サービス提供のために必要な範囲内において当該 機微情報を第三者に提供することにつき、会員の同意があったものとみな します。<br>
                        1 思想、信条または宗教に関する事項<br>
                        2 人種、民族、門地、本籍地(所在都道府県に関する情報を除く。)、身 体・精神障害、犯罪歴、その他社会的差別の原因となる事項<br>
                        3 勤労者の団結権、団体交渉およびその他団体行動に関する事項<br>
                        4 集団示威行為への参加、請願権の行使その他の政治的権利の行使に関す る事項<br>
                        5 保健・医療または性生活に関する事項
                        <br><br>

                        <strong>第 12 条(統計データの取り扱い))</strong><br>
                        1. .当社は、会員の登録・抹消の前後を問わず、本サービス上で会員が登録 した会員の個人情報、本サービスの利用履歴(ページビュー、会員とアド バイザーとの間の電話セッションログ等を含みますが、これらに限られま せん。)を、
                        個人を特定または特定しないで解析した後、個人を識別・特 定できないように加工、集計および分析した統計データ(以下、「統計デ ータ」といいます。)を作成し、
                        これらを何らの制限なく利用することが できるものとし、会員はこれをあらかじめ承諾します。<br>
                        2. 当社は、アドバイザーが行う事業における品質向上・改善を行うことを目 的として、前項に基づき作成した統計データをアドバイザーに提供するこ とができるものとし、会員はこれをあらかじめ承諾します。
                        <br><br>


                        <strong>第 13 条(情報の保管期間)</strong><br>
                        当社は、本サービスを提供するために必要な期間が経過したと判断した場合、 当社のサーバー上に蓄積されている会員の登録情報等を抹消することがありま す。抹消後はこれを復元することはできません。会員は、
                        前項の事情を踏ま え、自らに不利益もしくは損害が発生しないために必要な措置を、自己の責任 と負担において講じるものとします。
                        <br><br>

                        <strong>第 14 条(禁止事項)</strong><br>
                        会員は、本サービスの利用に際し、以下各号の行為を行ってはならないものと します。<br>
                        1 本規約の定める事項に違反する行為<br>
                        2 虚偽または不正確な情報を提供する行為<br>
                        3 個人や団体を誹謗、中傷、脅迫し、またはそのおそれのある行為<br>
                        4 著作権、商標権、その他の知的財産権を含む他人の権利を侵害し、ま たはそのおそれのある行為<br>
                        5 本サービスを通じて知り得た情報を、複製、販売、出版その他方法の如 何を問わず、本サービス利用の目的以外の目的で利用し、または第三者 に開示、提供する行為<br>
                        6 当社の許可のないWEB相談の録音・録画およびそれを第三者に提供す る行為<br>
                        7 本サービスの円滑な運営を妨げる行為、または、当社およびアドバイザ ー等の信用または名誉を毀損する行為、もしくは、これらのおそれのあ る行為<br>
                        8 犯罪行為、または法令に反する行為等公序良俗に反する行為、もしくは それらのおそれのある行為<br>
                        9 その他当社が不適切であると合理的に判断する行為
                        <br><br>

                        <strong>第 15 条(サービスの停止・本契約の終了等)</strong><br>
                        1. 当社は、以下の各号のいずれかに該当する事由が発生したと判断した場 合、会員への事前の通知なくして、本サービスの内容を変更し、または本 サービスの正常な提供を行うに必要な期間、本サービスの提供を停止する ことができます。<br>
                        1 本サービスを提供するためのインフラ、システム等(以下総じて、「シ ステム」といいます。)について、定期保守、または点検、更新、もし くは緊急の必要性がある場合<br>
                        2 突発的なシステムの故障、技術的問題、セキュリティ上の問題等が発生 した場合<br>
                        3 その他、不測の事態により、本サービスの提供をすることが困難である 場合
                        <br><br>
                        2. 当社は、会員において以下の各号のいずれかに該当する事由が発生したと 判断した場合、当該会員に対して、何らの催告を要することなく、本契約 を終了することができるものとします。<br>
                        1 会員が本規約に定める事項に違反した場合<br>
                        2 当社からの連絡に対して、一定期間応答がない場合<br>
                        3 当社において、当社と会員との信頼関係を維持できないと判断した場合
                        <br><br>
                        3. 当社は、前各項に掲げる場合の他、当社が必要と判断する場合には、会員 へ1か月前に通知することにより、本サービスの提供を停止し、または本 契約を終了することができます。
                        <br><br>

                        <strong>第 16 条(反社会的勢力の排除)</strong><br>
                        1. 会員が、反社会的勢力(暴力団、暴力団員、暴力団員でなくなった時から5年を経 過しない者、暴力団準構成員、暴力団関係企業、総会屋等、社会運動標ぼうゴロ又 は特殊知能暴力集団、
                        その他これらに準ずる者を言う。以下、同じ。)に該当し、 又は反社会的勢力と以下の各号のいずれかに該当する関係を有することが判明した 場合には、当社は、何らの催告を要することなく、本契約を解除することができま す。<br>
                        1 反社会的勢力が経営を支配していると認められるとき<br>
                        2 反社会的勢力が経営に実質的に関与していると認められるとき<br>
                        3 自己、自社もしくは第三者の不正の利益を図る目的、又は第三者に損害を与え る目的をもってするなど、不当に反社会的勢力を利用したと認められるとき<br>
                        4 反社会的勢力に対して資金を提供し、又は便宜を提供するなどの関与をしてい ると認められるとき<br>
                        5 その他反社会的勢力と社会的に非難されるべき関係を有しているとき<br><br>

                        2. 会員が、自ら又は第三者を利用して以下の各号の一にでも該当する行為をした場合 には、当社は、何らの催告を要することなく、本契約を解除することができます。<br>
                        1 暴力的な要求行為<br>
                        3 取引に関して脅迫的な言動、又は暴力を用いる行為風説を流布し、偽計又は威 力を用いて甲の信用を毀損し、又は甲の業務を妨害する行為<br>
                        4 その他前各号に準ずる行為<br><br>

                        3. 前2項に基づき本契約が解除された場合、当社に損害が発生していれば、会員は<br>
                        その損害を賠償する義務を負担し、他方、会員に損害が発生したとしても、解除 当社はその損害を賠償する義務を負担しません。
                        <br><br>

                        <strong>第 17 条(会員の申出による本契約の終了)</strong><br>
                        会員は、当社所定の手続きを行うことにより、いつでも本契約を終了すること ができます。
                        <br><br>

                        <strong>第 18 条(損害賠償)</strong><br>
                        1. 会員は、自己の責任により本サービスを利用するものとし、当社は、当社 の責に帰すべき場合を除き、請求原因の如何を問わず、会員が本サービス を利用することによって被った損害に対する賠償責任を負わないものとし ます。<br>
                        2. 当社の責に帰すべき事由により会員に発生した損害について、当社は、現 実に生じた直接かつ通常の損害の範囲内で賠償義務を負担します。ただ し、当社の故意または重過失により会員に生じた損害についてはこの限り ではありません。<br>
                        3. 会員は、本サービスの利用に際し、当社に損害を与えた場合、当該損害を 賠償するものとします。
                        <br><br>

                        <strong>第 19 条(当社の免責)</strong><br>
                        1. 当社は、特定の事由に限らず、会員とアドバイザーとの間のトラブル等に つき一切責任を負いません。<br>
                        2. 当社は、情報取扱業務において通常講ずべき合理的なウィルス対策では防 止できないウィルス被害、その他当社の責に帰すべき事由によらない火 災、停電、天災地変等の不可抗力により、
                        本サービスの提供に支障が生 じ、または本サービスの提供が困難となった場合、これによって会員に生 じた損害につき何らの責任も負わないものとします。<br>
                        3. 当社は、アドバイザーのスキルや人選などの品質について万全を期すもの の、常にすべての会員に有効であるとは限らず、会員における問題解決な どの結果を保証するものではありません。<br>
                        4. 本サービス利用の結果、万一会員が不利益を被ったとしても、虚偽または 悪意をもって情報提供が行われた場合を除き、会員の自由な意思、選択、 判断に基づき情報の利用がなされたものとみなし、当社は当該不利益につ いて一切の責任を負わないものとします。<br>
                        5. 当社は、専用ページにエラーその他の不具合がないこと、サーバー等にウ ィルスその他の有害な要素が含まれていないこと、その他本サービス提供 のためのインフラ、システム等に瑕疵がないこと等につき保証するもので はありません。<br>
                        6. 当社は、当社の機密に属する事項について、質問等への回答、その他対応 等を行う義務を一切負いません。
                        <br><br>

                        <strong>第 20 条(サービス利用規約の変更)</strong><br>
                        1. 当社は、本規約の内容を随時変更することができるものとします。本規約 を変更する場合、変更後の規約内容を本ウェブサイト上に2週間掲載する こととし、当該変更後の規約内容に同意しない会員は、
                        第 12 条に基づき本 契約を終了させることができるものとします。2週間が経過した時点にお いて、本契約を終了していない全ての会員は、変更後の規約に同意したも のとみなします。<br>
                        2. 前項にかかわらず、会員の不利益を伴わない変更については、事前の掲載 をせずに行うことが出来るものとします。
                        <br><br>

                        <strong>第 21 条(本契約上の地位の譲渡等)</strong><br>
                        1. 会員は、当社の書面による事前の承諾なく、本契約上の地位または本規約 に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定 その他の処分をすることはできません。<br>
                        2. 当社は、本サービスにかかる事業を他社に譲渡した場合(事業譲渡のほ か、会社分割や合併など、事業が移転するあらゆる場合を含みます。)に は、
                        当該事業譲渡等に伴い、本契約上の地位、本規約に基づく権利および 義務並びに会員の登録事項その他の顧客情報を、当該事業譲渡等の譲受人 に譲渡することができるものとし、会員はかかる譲渡につきあらかじめ同 意したものとします。
                        <br><br>

                        <strong>第 22 条(協議事項)</strong><br>
                        本規約の解釈に疑義が生じた場合、または本規約に定めのない事項について は、当社と会員は、誠意をもって協議の上これを解決するものとします。
                        <br><br>

                        <strong>第 23 条(準拠法・管轄裁判所)</strong><br>
                        本規約に関する準拠法は日本法とし、本サービスおよび本規約に関する一切の 紛争、請求等(民事調停を含みます。)については、大阪地方裁判所または大 阪簡易裁判所を第一審の専属的合意管轄裁判所とします。
                        <br><br>

                </p>
            </div>
            <div class="area-terms-accept d-flex flex-row">
                <input type="checkbox" id="accept-terms" name="accept-terms" required>
                <label>利用規約に同意する</label>
            </div>

            <div class="d-flex flex-column">
                <button type="submit" class="terms-btn"><span class="terms-btn-text">サービスを開始する</span></button>
                <a href="{% url 'signup2' user_id %}" class="go-back-a">もどる</a>
            </div>

        </form>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>